.grades {
    width: 50rem;
    max-width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.subject {
    height: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    border-left: 8px solid var(--pink);
}

.subject > div {
    width: 33%;
}

.subject .btnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
}

.subject > .btnContainer > button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    position: relative;
    width: 50%;
}

.subject .btnContainer > button:hover {
    transform: scale(1.05);
}

.subject .btnContainer > button > img {
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer > span {
    font-size: 2.5rem;
    color: var(--font-color);
}