@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@300;400&display=swap");

:root {
    --dark-blue: #212e53;
    --light-blue: #4a919e;
    --pink: #ebaca2;
    --red: #ce6a6b;
    --green: #bed3c3;
    --font-color: #777777;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}
