@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@300;400&display=swap");

:root {
    --dark-blue: #212e53;
    --light-blue: #4a919e;
    --pink: #ebaca2;
    --red: #ce6a6b;
    --green: #bed3c3;
    --font-color: #777777;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

p,
label,
span {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

#root {
    height: 100%;
    min-height: 100vh;
}
