#stats {
    width: 40rem;
    height: 7rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: Roboto;
    border-left: 8px solid var(--dark-blue);
}

#stats > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#stats > div > span {
    color: var(--font-color);
    font-size: 2rem;
}
