/*
“StAuth10065: I Noah Varghese, 000753196 certify that this material is my original work. 
No other person’s work has been used without due acknowledgement. 
I have not made my work available to anyone else.”
*/

/* Index */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@300;400&display=swap");

:root {
    --dark-blue: #212e53;
    --light-blue: #4a919e;
    --pink: #ebaca2;
    --red: #ce6a6b;
    --green: #bed3c3;
    --font-color: #777777;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

p,
label,
span {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

#root {
    height: 100%;
    min-height: 100vh;
}

/* App */

.App {
    height: 100%;
    min-height: 100vh;
}

#contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4rem;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    min-height: calc(100vh - 10rem - 4rem);
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    min-height: calc(100vh - 10rem - 8rem);
}

/* Nav */

nav {
    background-color: var(--light-blue);
    width: 100%;
    height: 10rem;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Alex Brush;
    font-size: 4rem;
    color: white;
}

/* Form */

.form {
    width: 25rem;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 3rem;
}

#error {
    width: 100%;
    border: 3px solid var(--red);
    background-color: var(--pink);
    color: white;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 5rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px #ffffff inset !important;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

button[type="submit"] {
    font-family: Roboto;
    font-weight: 400;
    font-size: 2rem;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* color: var(--font-color); */
    /* color: black; */
    color: var(--font-color);
    border-radius: 25px;
    box-shadow: inset;
    z-index: 1;
    /* background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(255,255,255,1)); */
    /* background: linear-gradient(0deg,rgba(33, 46, 83, 1), rgba(74, 145, 158, 1)); */
    /* box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    transition: all 0.1s ease-in-out;
    margin-top: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.3);
}

button[type="submit"]:active {
    /* background: linear-gradient(180deg,rgba(33, 46, 83, 1), rgba(74, 145, 158, 1)); */
    /* background: linear-gradient(180deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25)); */
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.3);
}

input {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.25rem;
}

label,
input {
    display: block;
    border: none;
    color: var(--font-color);
    outline: none;
}

input {
    font-weight: 400;
    font-family: Roboto;
    width: 100%;
    height: 100%;
    z-index: 1;
}

form > div > label span {
    position: absolute;
    bottom: 1.2rem;
    left: 1.5rem;
    transition: all 0.3s ease;
}

input:focus + label span,
input:not(:placeholder-shown) + label span {
    left: 1.2rem;
    transform: translateY(-150%);
    /* color: var(--valid-green); */
}

.inputContainer:focus-within {
    border-left: 6px solid var(--green);
}

input:focus + label span,
input:not(:placeholder-shown) + label span {
    font-size: 14px;
}

div.inputContainer.error {
    border: 1px solid var(--red);
    border-left: 6px solid var(--red);
}

/* Card */

.card {
    height: 4rem;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2);
    padding: 2px 16px;
    margin-bottom: 5px;
    z-index: 1;
    transition: all 0.2s;
    width: 100%;
    background-color: white;
    z-index: 2;
    transition: all 0.2s ease-in;
}

.card:focus-within,
.card:hover {
    z-index: 3;
    transform: scale(1.02);
}

/* Grades */

.grades {
    width: 50rem;
    max-width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.subject {
    height: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    border-left: 8px solid var(--pink);
}

.subject > div {
    width: 33%;
}

.subject .btnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
}

.subject > .btnContainer > button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    position: relative;
    width: 50%;
}

.subject .btnContainer > button:hover {
    transform: scale(1.05);
}

.subject .btnContainer > button > img {
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer > span {
    font-size: 2.5rem;
    color: var(--font-color);
}

/* Stats */

#stats {
    width: 40rem;
    height: 7rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: Roboto;
    border-left: 8px solid var(--dark-blue);
}

#stats > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#stats > div > span {
    color: var(--font-color);
    font-size: 2rem;
}
